* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color:black;
        font-family: "Poppins", sans-serif;
        margin-left: 3px;
        border-bottom: 90px;
    }

    .footer-box{
        display: block;
        margin-bottom: 30px;
        
    }
    .logo{
        height: 90px;
        width: 90px;
    }

    .quote{
        display: flex;
        font-size: 15px;
        line-height: 23px;
        margin-top: 20px;
        margin-bottom: 30px;
        color: white;
    }

.footer-whatsapp img{
    overflow-clip-margin: content-box;
    overflow: clip;
    /* max-width: 100px; */
    vertical-align: middle;
    width: 30px;
}

.footer-whatsapp a{
    color: #fff;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-size: 16px;
    padding-left: 12px;
}

.footer-link h4{
    color: #fff;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0.5rem;
    font-weight: 520;
    line-height: 1.2;
}

.footer-link ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

 ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; 
} 

.footer-link ul li{
    color:#fff;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer-link ul li a{
    color: #fff!important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.footer-social-link{
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 45px;
        margin-bottom: 10px;

}

.footer-social-link li a img{
    height: 30px;
    width: 30px;
    color: #fff;
    transition: all .5s;

}

.copy-right-footer h3{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
