<body>
    <footer class = "footer">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-5">
                    <div class = "footer-box">
                        <div class = "footer-logo">
                            <a  href="#" class="">
                                <img class= "logo"  src="/image/Hiree.png" loading="lazy" alt="hire hive-logo">
                            </a>
                            <p class="quote">
                                We Can Make Your Future Better.
                                <br>
                                Trusted by 1k+ verified job seekers and
                                <br>
                                100+ verified recruiters.
                                <!-- HireHive is a leading online platform for connecting job seekers with potential employers. We specialize in providing top-notch job placement services that help candidates land their dream jobs. -->
                           </p>
                        </div>
                        <div class="footer-whatsapp">
                            <img src="/image/whatapp icon.png" loading="lazy" alt="whatsapp-icon">
                            <a href="#">+919575490292</a>
                        </div>
                    </div>
                </div>
                <div class = "col-md-5">
                    <div class = "row">
                        <div class = "col-md-4">
                            <div class = "footer-link">
                                <h4>Hire-Hive</h4>
                                <ul>
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Feedback</a>
                                    </li>
                                    <li>
                                        <a href="#">Job seekers</a>
                                    </li>
                                    <li>
                                        <a href="#">Recruiters</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class = "col-md-4">
                            <div class = "footer-link">
                                <h4>Support</h4>
                                <ul>
                                    <li>
                                        <a href="#">info@hirehive.com</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms and Conditions</a>
                                    </li>
                                    <li>
                                        <a>For recruiters
                                            <br>
                                            Schedule a call
                                        </a>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class = "col-md-4">
                            <div class = "footer-link">
                                <h4>Meet the developers</h4>
                                <ul>
                                    <li>
                                        <a href="#">Abdul Kadir</a>
                                    </li>
                                    <li>
                                        <a href="#">Sheikh Haseeb</a>
                                    </li>
                                    <li>
                                        <a href="#">Jayanti Acharya</a>
                                    </li>
                                    <li>
                                        <a href="#">Janhavi Dubey</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class = "copy-right-footer">
                <ul class = "footer-social-link">
                    <li>
                        <a href = "#" target = "_blank">
                            <img src="image/twitter-icon.png" loading="lazy" alt="twitter-icon">
                        </a>
                    </li>
                    <li>
                        <a href = "#" target = "_blank">
                            <img src="image/linkedin-icon.png" loading="lazy" alt="linkedin-icon">
                        </a>
                    </li>
                    <li>
                        <a href = "#" target = "_blank">
                            <img src="image/facebook-icon.png" loading="lazy" alt="facebook-icon">
                        </a>
                    </li>
                    <li>
                        <a href = "#" target = "_blank">
                            <img src="image/instaa.png" loading="lazy" alt="instagram-icon">
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <h3>&copy; All Rights Reserved 2022-2023.</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
