<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiters logo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <div class="container">
            <h3 class="heading">
             More than <span  style="color: rgb(26, 171, 215);">100</span> Recruiters
             trust <span style="color: rgb(26, 171, 215);">Hire-Hive</span>
            </h3>
            <div class="logos">
                <ul class="first-row">
                    <li>
                        <img class="image" src="image/Accenture-logo.png" alt="accenture">
                    </li>
                    <li>
                        <img class="image" src="image/fico logo.png" alt="fico">
                    </li>
                    <li>
                        <img class="image" src="image/Gammastack.png" alt="gammastack">
                    </li>
                    <li>
                        <img class="image" src="image/impetus_logo_Logo.jpg" alt="impetus">
                    </li>
                    <li>
                        <img class="image" src="image/Tata_Consultancy_Services_Logo.svg.png" alt="TCS">
                    </li>
                    <li>
                        <img class="image" src="image/LTI_Lets_solve.png" alt="LTI">
                    </li>
                </ul>

                <ul class="second-row">
                    <li>
                        <img class="image" src="image/cleartrail.png" alt="cleartrail">
                    </li>
                    <li>
                        <img class="image" src="image/capgelogo.jpg" alt="capgemini">
                    </li>
                    <li>
                        <img class="image" src="image/infosys logo.png" alt="infosys">
                    </li>
                    <li>
                        <img class="image" src="image/cognizant.webp" alt="cognizant">
                    </li>
                    <li>
                        <img class="image" src="image/systango.png" alt="systango">
                    </li>
                    <li>
                        <img class="image" src="image/tech mahindra.png" alt="tech mahindra">
                    </li>
                </ul>
            </div>
        </div> 
</body>
</html>