<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction of Hire-Hive</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <!-- <img class ="image" src="image/Block-blur-Image.webp " alt="blurry image"> -->
        <div class="intro">
            <!-- <h1>Simplify your Job Search and Discover the best Talent for your Project with HIRE HIVE</h1> -->
            <h1>Join the Hire Hive today and take your career to the next level.</h1>
            <p>Hire-Hive is a project placement portal that connects top talent with the best projects. It simplifies the hiring process for both job seekers and employers, making it easier to find and fill project-based positions.</p>
        </div>
        <div class="stickers">
            <div class="image-placeholder">
                <img src="image/user-tag-solid.svg" alt="verified recruiter">
                <p class="heading">100+</p>
                <span>Verified Recruiters</span>
            </div>
            <div class="image-placeholder">
                <img src="image/envelope-regular.svg" alt="job posted">
                <p class="heading">500</p>
                <span>Jobs Posted</span>
            </div>
            <div class="image-placeholder">
                <img src="image/pen-to-square-regular.svg" alt="Average salary">
                <p class="heading">300k-600k</p>
                <span>Average salary</span>
            </div>
            <div class="image-placeholder">
                <img src="image/envelope-open-text-solid.svg" alt="Job seekers">
                <p class="heading">1k</p>
                <span>Job Seekers</span>
            </div>
        </div>
        </header>
</body>
</html>


