<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction of Hire-Hive</title>
</head>
<body>
    <header>
        <div class="intro">
            <h1>Direct Hiring App for Founders, Team Leaders and Hiring Managers</h1>
            <p>I am a web developer and I love to create websites.</p>
            <button>Learn More</button>
          </div>
        </header>
</body>
</html>