<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction of Hire-Hive</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img class ="image" src="image/Block-blur-Image.webp " alt="blurry image">
    <header>
        <div class="intro">
            <h1>Direct Hiring App for Founders, Team Leaders and Hiring Managers</h1>
            <p>Hirect simplifies the hiring process. Directly chatting with
                verified candidates matched by the AI algorithm ensures a simple,
                quick and effective hiring experience.</p>
        </div>
        <div class="stickers">
            <div class="image-placeholder">
                <img src="image/user-tag-solid.svg" alt="verified recruiter">
                <p class="heading">100+</p>
                <span>Verified Recruiters</span>
            </div>
            <div class="image-placeholder">
                <img src="image/envelope-regular.svg" alt="job posted">
                <p class="heading">500</p>
                <span>Jobs Posted</span>
            </div>
            <div class="image-placeholder">
                <img src="image/pen-to-square-regular.svg" alt="verified recruiter">
                <p class="heading">100+</p>
                <span>Verified Recruiters</span>
            </div>
            <div class="image-placeholder">
                <img src="image/envelope-open-text-solid.svg" alt="Job seekers">
                <p class="heading">1k</p>
                <span>Job Seekers</span>
            </div>
        </div>
        </header>
</body>
</html>


