:root{
    --bgclolor:#fed7aa;
    --secondaryColor:rgb(110, 232, 183);
    --fontColor:#ea580c;
    --auth-btn-color:#06b6d4;
    --auth-hover:#155e75;
    --auth-bg-dark-color:#394657;
    --auth-bg-color:#161F2C;
    --auth-font-color:#e4e4e7;
}   