.hamburger{
    display: none;
}
.navbar{
    background-color: var(--bgclolor);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    display:flex;
    justify-content: space-between;


}
.nav-list{
    list-style: none;
    display: flex;
    margin:0;
}
.nav-list>li{
    margin:1rem 1.5rem;
}
.nav-list>li>a{
    text-decoration: none;
    color: var(--fontColor);
    font-family:'Merriweather', serif;
}
.hamburger>button{
    background-color: var(--bgclolor);
    border: none;
}

@media 
  (min-device-width: 200px) 
  and (max-device-width: 700px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .nav-list{
        display: none;
        flex-direction: column;
    }
    .nav-list.show{
        display: flex;

    }
    .hamburger{
        display: block;
    }
    .switch{
        margin-left: -28PX;
    }


}